<div class="container">
  <h1>Todo List</h1>
  <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="example-form-field">
      <mat-label>Добавьте задачу</mat-label>
      <input matInput type="text" formControlName="title" id="title" name="title">
    </mat-form-field>
    <mat-form-field class="example-form-field">
      <mat-label>Описание</mat-label>
      <input matInput type="text" formControlName="description" id="description" name="description">
      <button matSuffix mat-raised-button color="primary" type="submit">Add</button>
    </mat-form-field>
  </form>

  <mat-list class="mat-list">
    <mat-list-item class="todo-item" *ngFor="let task of tasks">
      <span matListItemTitle>{{ task.title }}</span>
      <span matListItemLine>{{ task.description }}</span>
      <button mat-icon-button color="primary" (click)="openEditDialog(task)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" class="delete-button" (click)="onDelete(task._id)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-list-item>
  </mat-list>
</div>
