<div class="container">
  <h1>Todo List</h1>
  <mat-form-field class="example-form-field">
    <mat-label>Добавьте задачу</mat-label>
    <input matInput type="text">
      <button matSuffix mat-raised-button color="primary">Add</button>
  </mat-form-field>

  <mat-list class = "mat-list">
    <mat-list-item class="todo-item">
      <span class="todo-text">fdvdfx</span>
      <button mat-icon-button color="warn" class="delete-button">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-list-item>
  </mat-list>
</div>
